<footer class="page-footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="content">
                    <p>
                        <small>
                            <span>Subscribe to the</span>
                            <a target="_blank" href="https://mailman.zfn.uni-bremen.de/cgi-bin/mailman/listinfo/connect_them_all">newsletter</a>
                            <span> / For any enquiry, please contact </span>
                            <a target="_blank" href="mailto:connect-them-all@comnets.uni-bremen.de">on this email</a>
                            <p>
                            <!-- <img width="6%; vertical-align: baseline;" src="{{site.baseurl}}/assets/images/green-70-alpha.png"> -->
                            <!-- <a href="https://mailman.zfn.uni-bremen.de/cgi-bin/mailman/listinfo/connect_them_all" target="_blank" style="font-size:1vw"> Subscribe to the newsletter </a>
                            </p>
                            <p>
                                For any enquiry, please contact <a href="mailto:connect-them-all@comnets.uni-bremen.de">connect-them-all@comnets.uni-bremen.de</a>
                            </p>                             -->
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>