<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <p style="font-size: 2vw; border: 2px solid rgb(153, 36, 36); text-align: center;">
                    <a href="https://www.youtube.com/@ComNetsBremen/streams" target="_blank">Click here to join the stream now!</a></p>
                    <p><br></p>
                    <!-- <p style="font-size:2vw; text-align:center; color: brown;"> First Thursday of Every Month | 4:00 PM CET</p> -->
                    <p><br></p>
                    <br>
                    <div class="heading has-text-centered">
                        <p class="title is-3"> Upcoming Seminars </p>
                        <!-- <p class="subtitle is-6"><span class="tag is-white"><small>June 09, 2017</small></span></p> -->
                    </div>
                    <br>
                    <div class="content">


                        <h2>Surprises Included: On Experiences with Outdoor Experiments | Lars Wolf</h2>
                        <p>July 06, 2023 | 4:00 PM CET</p>

                        <p><strong>About Topic:</strong> 
                            The use of IoT (Internet of Things) / Sensor Networks is attractive for various application use cases. However, especially if the usage scenarios include outdoor settings or otherwise rough environmental conditions, special care must be taken while planning the deployment and issues be considered which might be not so common for computer scientists. Nevertheless, it may happen that not all components and every part of the designed setup works as originally assumed. This talk will describe some of our work on IoT/WSN systems in outdoor and rough environments and discuss some of the experiences gained.
                        </p>

                        <p><strong>About Speaker:</strong> 
                            Lars Wolf received his Computer Science diploma degree in 1991 from Universität Erlangen-Nürnberg and his Ph.D. in Computer Science in 1995 from TU Chemnitz. From 1991 to 1996 he worked at IBM’s European Network- ing Center in Heidelberg, Germany. From 1996 to 1999 he was with the TU Darmstadt as Assistant Professor ("Wissenschaftlicher Assistent"). Dr. Wolf joined Universität Karlsruhe in 1999 where he was associate professor in the Computer Science department and alternate director of the computer center. Since spring 2002 Lars Wolf is full professor for Computer Science at the TU Braunschweig, where he is head of the Institute of Operating Systems and Computer Networks. His current research interests include wireless networking in general, sensor networks / Internet of Things, vehicular networks, delay-tolerant networks, and mobile systems.  
                        </p>

                    </div>

                    {% for post in site.posts %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <a href="{{ post.url | relative_url }}">
                                        <p class="title is-2">{{post.title}} <span class="tag is-white is-pulled-right"></span></p>
                                        <!-- <p class="subtitle"><small>{{post.excerpt | remove: '<p>' | remove: '</p>'}}</small></p> -->
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}

            </div>
        </div>
    </div>
</section>